openapi: 3.0.0
info:
  title: Unsplash API
  description: |
    The Unsplash API provides access to a large collection of high-quality, free-to-use images.
  version: 1.0.0
servers:
  - url: https://api.unsplash.com
paths:
  /photos/random:
    get:
      summary: Get a random photo
      parameters:
        - in: query
          name: query
          description: Search terms
          required: false
          schema:
            type: string
        - in: query
          name: count
          description: Number of photos to return (1-30, default is 1)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 30
      responses:
        "200":
          description: A random photo or a list of random photos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Photo"
  /photos/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: w
        description: Width of the image
        required: false
        schema:
          type: integer
      - in: query
        name: h
        description: Height of the image
        required: false
        schema:
          type: integer
      - in: query
        name: crop
        description: Whether to crop the image (true or false)
        required: false
        schema:
          type: boolean
    get:
      summary: Get a photo by ID
      responses:
        "200":
          description: The requested photo
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Photo"
components:
  schemas:
    Photo:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        width:
          type: integer
        height:
          type: integer
        color:
          type: string
        likes:
          type: integer
        liked_by_user:
          type: boolean
        description:
          type: string
        user:
          $ref: "#/components/schemas/User"
        urls:
          type: object
          properties:
            raw:
              type: string
            full:
              type: string
            regular:
              type: string
            small:
              type: string
            thumb:
              type: string
        links:
          type: object
          properties:
            self:
              type: string
            html:
              type: string
            download:
              type: string
            download_location:
              type: string
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        name:
          type: string
        portfolio_url:
          type: string
        bio:
          type: string
        location:
          type: string
        total_likes:
          type: integer
        total_photos:
          type: integer
        total_collections:
          type: integer
        profile_image:
          type: object
          properties:
            small:
              type: string
            medium:
              type: string
            large:
              type: string
        links:
          type: object
          properties:
            self:
              type: string
            html:
              type: string
            photos:
              type: string
            likes:
              type: string
